*{
    margin: 0px;
}

nav{
    border: 3px solid rgb(255, 155, 222); 
    border-radius: 7 px;
    background-color: #FCD8D4;
}

.link-container{
    width: 24.5%;
    height: 41px;
    padding: 9px;
    text-align: center;
    margin: 0px;
}   

.link-container a{
    color: rgb(71, 32, 32);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 20px;
    text-align: center;
    background-color: #FDF6F0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 150px;
}

#paragraf-cursiv{
    font-family: cursive;
    color: blueviolet;
    font-style: oblique;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: block;
    padding: 30px;
}

main{
    background-color: #F8E2CF;
    height: auto;
}

main p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#wild{
    color: magenta;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    font-style: italic;
    text-align: right;
    padding: 30px;
}

footer{
    background-color: #F5C6AA;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 60px;
}

footer p{
    padding: 12px;
    font-weight: bolder;
    color: red;
}